@charset "utf-8";
.thanks_page {
    max-width: 610px;
    margin: 280px auto;
    text-align: center;
}
.text1 {
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 0.09em;
}
.text2 {
    padding: 80px 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.68;
    letter-spacing: 0.09em;
}

@media screen and (max-width: 767px) {
    .text1 {
        font-size: 32px;
    }
    .text2 {
        padding: 40px 0;
        font-size: 14px;
        letter-spacing: 0.06em;
        line-height: 1.785;
    }
}
